<!DOCTYPE html>
<html>
  <head>
    <title>ChuckNorrisFacts</title>
    <link rel="shortcut icon" href="<%= image_path("chuck-norris.png") %>"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if check_language == "eng" %>      
        <%= link_to language_path(language: "esp")do %>
          <img src="<%= image_path("spain.png") %>">
        <% end %>      
    <% else %>
        <%= link_to language_path(language: "eng") do %>
          <img src="<%= image_path("united-states.png") %>">
        <% end %>      
    <% end %>
    <%= yield %>
  </body>
</html>
